.header {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 40px 20px;
  position: relative;
  z-index: 5;
  pointer-events: auto;
  box-shadow: 0 10px 40px rgba(255, 255, 255, 0.15);
  @media  (min-width: 768px) {
    min-height: 100vh;
  }
  @media (max-width: 768px) {
    padding-bottom: 100px;
  }
}

.hamburger-menu {
  position: fixed;
  top: 25px;
  left: 25px;
  width: 30px;
  height: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  pointer-events: auto;
}

.hamburger-menu span {
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.hamburger-menu:hover span {
  background: #888;
}

.header-content {
  max-width: 1000px;
  width: 100%;
  position: relative;
  z-index: 2;
  pointer-events: auto;
}

.header-logo {
  max-width: 80%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15%;
  @media (max-width: 768px) {
    max-width: 100%;
    margin-bottom: 10%;
  }
}

.header-title {
  font-size: 72px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 30px;
  letter-spacing: -1px;
  @media  (max-width: 768px) {
    font-size: 48px;
  }
}

.header-subtitle {
  font-size: 20px;
  color: #ccc;
  margin-bottom: 40px;
  line-height: 1.6;
  font-weight: 300;
  line-height: 2;
  @media (max-width: 768px) {
    font-size: 15px;
  }
}

.header-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.header-cta {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 16px 40px;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 50px;
}

.header-cta:hover {
  background: #fff;
  color: #000;
}

.header-contact-btn {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 16px 40px;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 50px;
}

.header-contact-btn:hover {
  background: #fff;
  color: #000;
}